.items-section {
    display: flex;
    flex-direction: column;

    img {
        // aspect-ratio: inherit;
        // height: 200px;
        width: 100vw;
        // flex-wrap: wrap;
        
    }
}